<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    
    <display-name>GiapWeb Application</display-name>
    
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error/404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/error/500.jsp</location>
    </error-page>
    
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Sitemesh Filter - Temporarily disabled to test -->
    <!--
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    -->
    
    <!-- JSP Configuration for Tag Libraries -->
    <jsp-config>
        <taglib>
            <taglib-uri>http://www.opensymphony.com/sitemesh/decorator</taglib-uri>
            <taglib-location>/WEB-INF/tld/sitemesh-decorator.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://www.opensymphony.com/sitemesh/page</taglib-uri>
            <taglib-location>/WEB-INF/tld/sitemesh-page.tld</taglib-location>
        </taglib>
    </jsp-config>
    
</web-app>

